algoliasearch==3.0.0
algoliasearch-django==3.0.0
asgiref==3.8.1
certifi==2024.2.2
cffi==2.0.0
charset-normalizer==3.3.2
cryptography==46.0.3
Django==5.0.6
django-allauth==65.12.0
django-cors-headers==4.3.1
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
idna==3.7
joblib==1.5.2
numpy==2.3.4
pdfkit==1.0.0
pillow==11.0.0
pycparser==2.23
PyJWT==2.8.0
python-decouple==3.8
PyYAML==6.0.1
requests==2.31.0
scikit-learn==1.7.2
scipy==1.16.2
sqlparse==0.5.0
stripe==13.0.1
threadpoolctl==3.6.0
typing_extensions==4.15.0
tzdata==2024.1
urllib3==2.2.1
